@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.start_btn {
  @apply flex justify-center items-center w-40 p-2 rounded-md bg-orange-500 text-white;
}

.auth_btn {
  @apply w-full bg-green-400 h-10 rounded-md text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
